{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="wrapper">
    <h1>Bienvenue sur la plateforme de formation</h1>
    <ul>
        <li><a href="{{ path('login') }}">Se connecter</a></li>
        <li><a href="{{ path('register') }}">S'inscrire</a></li>
    </ul>
</div>
{% endblock %}
