{% extends 'base.html.twig' %}

{% block title %}Paiement annulé{% endblock %}

{% block body %}
<div class="wrapper content">
    <h1>Paiement annulé ❌</h1>
    <p>Vous pouvez modifier votre panier ou réessayer.</p>
    <a href="{{ path('cart_show') }}" class="btn">Retour au panier</a>
</div>
{% endblock %}
