{% extends 'base.html.twig' %}

{% block title %}Paiement réussi{% endblock %}

{% block body %}
<div class="wrapper content">
    <h1>Paiement confirmé ✅</h1>
    <p>Merci pour votre achat ! Vous avez maintenant accès à vos formations.</p>
    <a href="{{ path('apprenant_formations') }}" class="btn">Voir mes formations</a>
</div>
{% endblock %}
